body{
    margin: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(246, 250, 252);
    background-color: black;
}

h1{
    color: rgb(246, 250, 252);
    margin-top: 50px;
    font-size: 4rem;
    font-family:'Sacramento', cursive;
}

h2{
    color: rgb(54, 168, 230);
    font-size: 1.7rem;
    
}

.top-container{
    background-color: black;
    position: relative;
    padding-top: 200px;
    padding-bottom: 70px;
}

.middle-container{  
    
}

.bottom-container{
   
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 1.7;
}

.pro{
    text-decoration: underline;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 200px;
    bottom: 460px;
}

.git-img{
    width: 25%;
    float: left;
    margin-right: 40px;
}

.figma-img{
    width: 25%;
    float: right;
    margin-left: 40px;
}
