body{
    margin: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(246, 250, 252);
    background-color: black;
}

h1{
    color: rgb(246, 250, 252);
    margin-top: 50px;
    font-size: 4rem;
    font-family:'Sacramento', cursive;
}

h2{ 
    color: rgb(54, 168, 230);
    font-size: 1.9rem;
    padding-bottom: 20px;
}

h3{
    color: rgb(106, 148, 170);
    font-size: 1.3rem;
    
}

p{
    line-height: 2;
}

hr{
    border: dotted rgb(54, 168, 230) 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a{
    color: rgb(76, 90, 97);
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px 10px;
    text-decoration: none;
}

a:hover{
    color: #caebff;
}

.footer{
    font-size: 1.3rem;
    font-family: monospace;
    padding: 12px 0;
}

.top-container{
    background-color: black;
    position: relative;
    padding-top: 200px;
    padding-bottom: 70px;
}

.middle-container{  
    margin: 10px 0;
}

.bottom-container{
   background-color: rgb(106, 148, 170);
   padding: 60px 0 20px;
   margin-top: 80px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
   
}

.pro{
    text-decoration: underline;
}

.intro{
    width: 30%;
    margin: auto;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.top-cloud{
    position: absolute;
    right: 230px;
    top: 100px;
}

.bottom-cloud{
    position: absolute;
    left: 230px;
    bottom: 0;
}

.git-img{
    width: 25%;
    float: left;
    margin-right: 40px;
}

.figma-img{
    width: 25%;
    float: right;
    margin-left: 40px;
}

.btn {
    background: #0f649c;
    background-image: -webkit-linear-gradient(top, #0f649c, #089bf0);
    background-image: -moz-linear-gradient(top, #0f649c, #089bf0);
    background-image: -ms-linear-gradient(top, #0f649c, #089bf0);
    background-image: -o-linear-gradient(top, #0f649c, #089bf0);
    background-image: linear-gradient(to bottom, #0f649c, #089bf0);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #0da6ff;
    background-image: -webkit-linear-gradient(top, #0da6ff, #009dff);
    background-image: -moz-linear-gradient(top, #0da6ff, #009dff);
    background-image: -ms-linear-gradient(top, #0da6ff, #009dff);
    background-image: -o-linear-gradient(top, #0da6ff, #009dff);
    background-image: linear-gradient(to bottom, #0da6ff, #009dff);
    text-decoration: none;
  }
  
